<%- include('partials/header.ejs') -%>
<!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('partials/navbar.ejs') -%>

                <div class="container">
                    <a href="/newevent"><button>Click here to add an event!</button></a>
                    <%- JSON.stringify(events) %>
                </div>

        <!-- Sticky Footer -->
        <%- include('partials/footer') -%>

    <!-- DO NOT TOUCH!!! -->
    </body>
</html>